<h1> reservation    </h1>
<!-- <%= @reservation.book_id %> -->
      <!-- <%= id = @reservation.book_id %>
      <%= @book.id %>
      <%= @book.title %> -->

<p>Find me in app/views/reservations/show.html.erb</p>
<p>These are the book reservations: <%= Reservation.all %></p>
